main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mitu{
    width: 600px;
    height: 342px;
}
#mitu path.parts-02{
    d: path('M154.28,93c0,59.39-31.09,93.49-77.26,93.49s-77-33.64-77-93C0,33.87,31.32,0,77.25,0,123.42,0,154.28,33.41,154.28,93Zm-121.1.23c0,45.94,17.63,69.14,44.07,69.14s43.85-23.2,43.85-69.14c0-46.17-17.4-69.13-43.85-69.13S33.18,47.09,33.18,93.26Z');
}
#mitu path.parts-04{
    d: path('M259.61,74.7,327.35,183h-35.5L239.42,96.51l-21.11,23.66V183H187.46V3h30.85V85.14L286.29,3H322Z');
}
#mitu path.parts-01,
#mitu path.parts-03,
#mitu path.parts-05{
    d:none;
}
/* #mitu:hover{
    width: 600px;
}
#mitu:hover path.parts-02{
    d: path('M154.28,93c0,59.39-31.09,93.49-77.26,93.49s-77-33.64-77-93C0,33.87,31.32,0,77.25,0,123.42,0,154.28,33.41,154.28,93Zm-121.1.23c0,45.94,17.63,69.14,44.07,69.14s43.85-23.2,43.85-69.14c0-46.17-17.4-69.13-43.85-69.13S33.18,47.09,33.18,93.26Z');
}
#mitu:hover path.parts-04{
    d: path('M259.61,74.7,327.35,183h-35.5L239.42,96.51l-21.11,23.66V183H187.46V3h30.85V85.14L286.29,3H322Z');
}
#mitu:hover path.parts-01,
#mitu:hover path.parts-03,
#mitu:hover path.parts-05{
    d:none;
} */
#OK{
    width: 600px;
}

#