*{
    margin: 0;
}
main{
    height: 100vh;
}
#status{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 100%;
    animation-name: change;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
#status.ng{
    background-color: #ce4e4e;
}
#status.ok{
    position: absolute;
    top: 100%;
    background-color: #4e86ce;
    animation-name: change;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}
#contents-wrap{
    position: relative;
    top: 5%;
    opacity: 0;
    animation-name: appear_contens;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
    animation-delay: 1s;
}
#status-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: #fff;
}
#status-top .en{
    display: block;
    font-size: 2rem;
}

@keyframes appear_contens {
    100%{
        opacity: 1;
        top: 0%;
    }
  }

@keyframes change {
    100%{
        top: 0;
    }
  }